@model IEnumerable<Mvctask.Models.Empdata>
@{
    ViewData["Title"] = "Allemp";
}

<h1>All Employee data</h1>

<table class="table">
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(Model=>Model.EmpId)</td>
            <td>@Html.DisplayNameFor(Model=>Model.FirstName)</td>
            <td>@Html.DisplayNameFor(Model=>Model.lastName)</td>
            <td>@Html.DisplayNameFor(Model=>Model.gender)</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var emp in Model){
            <tr>
                <td>@emp.EmpId</td>
                <td>@emp.FirstName</td>
                <td>@emp.lastName</td>
                <td>@emp.gender</td>
            </tr>
        }
        
    </tbody>

</table>

<a asp-action="Singleemp">Click for go back</a>

